html , body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.outer{  
margin:auto; 
padding: auto 0;
margin-top: 50px;
height:300px; 
width:90%; 
border:2px solid black; 
position:relative 
} 
p{ 
margin-left:80px; 
} 
.in{ 
margin-left:80px; 
padding:10px 
} 
#bt{ 
  height: 30px;
  width: 120px;
margin-top:20px; 
position:absolute; 
left:150px; 
border:none;
} 
#bt:hover{ 
background:green; 
font-size:13px; 
cursor:pointer; 
color:white; 
} 